<div class="login-box">
  <div class="login-logo">
    <a href="../../home"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Inicie sua sessão</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group has-feedback" [class.has-error]="isFieldInvalid('userName')">
        <input formControlName="userName" type="text" class="form-control" placeholder="Login" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span class="help-block" *ngIf="isFieldInvalid('userName')">Você deve informar o login</span>
      </div>
      <div class="form-group has-feedback" [class.has-error]="isFieldInvalid('password')">
        <input formControlName="password" type="password" class="form-control" placeholder="Senha" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="help-block" *ngIf="isFieldInvalid('password')">Você deve informar uma senha</span>
      </div>
      <div class="form-group has-feedback">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Lembrar-me
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="form-group has-feedback">
        <button type="submit" class="btn btn-success btn-block btn-flat">Entrar</button>
      </div>
    </form>
  </div>
</div>